<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Credit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Id cliente:</ion-label>
          <ion-input [(ngModel)]="in.IDCliente" (ngModelChange)='GetClient()'></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Nombre:</ion-label>
          {{ cliente[gv.nombre] }}
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Efectivo: $</ion-label>
          <ion-input type="number" [(ngModel)]="in.Efectivo"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Numero de pagos:</ion-label>
          <ion-input type="number" [(ngModel)]="in.Num_Pagos" (ngModelChange)='CambioPagoNum(in.Pago, in.Num_Pagos)'>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Credito: $</ion-label>
          <ion-input type="number" [(ngModel)]="in.Credito"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Pago: $</ion-label>
          <ion-input type="number" [(ngModel)]="in.Pago" (ngModelChange)='CambioPagoNum(in.Pago, in.Num_Pagos)'>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="input">
          <ion-label floating>Total a pagar: $</ion-label>
          <ion-textarea disabled readonly [(ngModel)]="in.Total_Credito">
          </ion-textarea>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha primer pago" max="2050" [(ngModel)]="in.Fecha">
          </ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Hora de pago</ion-label>
          <ion-datetime displayFormat="H:mm A" minuteValues="0,30" [(ngModel)]="in.Horario"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Periodo" [(ngModel)]="in.Periodo">
            <ion-select-option value="{{ gv.diario }}">Diario</ion-select-option>
            <ion-select-option value="{{ gv.semanal }}">Semanal</ion-select-option>
            <ion-select-option value="{{ gv.quincenal }}">Quincenal</ion-select-option>
            <ion-select-option value="{{ gv.mensual }}">Mensual</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Deposito" [(ngModel)]="in.Deposito">
            <ion-select-option value="{{ gv.representante }}">Representante</ion-select-option>
            <ion-select-option value="{{ gv.oficina }}">Oficina</ion-select-option>
            <ion-select-option value="{{ gv.banco }}">Banco</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <h3>Garantias</h3>
    </ion-row>

    <ion-row *ngFor="let garantia of ArrGarantias; let i = index" [attr.data-index]="i">
      <ion-col col-4>
        <ion-item class=" input">
      <ion-input placeholder="Articulo" [(ngModel)]="ArrGarantias[i][gv.articulo]">
      </ion-input>
      </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item class="input">
          <ion-input placeholder="Marca" [(ngModel)]="ArrGarantias[i][gv.marca]">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item class="input">
          <ion-input placeholder="Identificador" [(ngModel)]="ArrGarantias[i][gv.identificador]">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4 *ngIf="ArrGarantias.length > 1">
          <ion-icon color="medium" name="close-circle-outline" (click)="EliminarGarantia(i)">
          </ion-icon>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-button (click)="AgregarGarantia()">Agregar garantia</ion-button>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="Btn_Desactivado" (click)="AgregarCredito()">Agregar credito</ion-button>
      </ion-col>
      <ion-col *ngIf="Alerta">
        <ion-text>{{ AlertMsj }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>