<ion-header>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>

    <ion-row *ngIf="type === 'Cliente'">
      <ion-col>
        <ion-select placeholder="Encargado" interface="action-sheet" [(ngModel)]="Cliente.ID_Ubicacion"
          (ngModelChange)='ChecEncargado()'>
          <ion-select-option value="{{ Colaborador[gv.ID_Ubicacion] }}" *ngFor="let Colaborador of Agentes">
            {{ Colaborador[gv.nombre] }} Roll: {{ Colaborador[gv.roll] }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="type === 'Cliente'">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Nombre(s)" [(ngModel)]="Cliente.Nombre" (ngModelChange)='GetCurp()'>
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Apellido paterno" [(ngModel)]="Cliente.ApellidoP" (ngModelChange)='GetCurp()'>
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Apellido materno" [(ngModel)]="Cliente.ApellidoM" (ngModelChange)='GetCurp()'>
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select [(ngModel)]="Cliente.Sexo" (ngModelChange)='GetCurp()'>
            <ion-select-option value="{{ gv.Hombre }}">Masculino</ion-select-option>
            <ion-select-option value="{{ gv.Mujer }}">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Identificador" [(ngModel)]="Cliente.Identificador">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-select placeholder="Edo nacimiento" interface="action-sheet" [(ngModel)]="Cliente.Edo_Nacimiento"
          (ngModelChange)='GetCurp()'>
          <ion-select-option value="{{ edo.value }}" *ngFor="let edo of Estados | keyvalue">{{ edo.key }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="CURP" [(ngModel)]="Cliente.CURP">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Telefono" [(ngModel)]="Cliente.Telefono">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha Nacimiento" max="2050"
            [(ngModel)]="Cliente.Cumpleanos" (ngModelChange)='GetCurp()'>
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <h3>Direccion</h3>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Calle" [(ngModel)]="Cliente.Calle">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Exterior" [(ngModel)]="Cliente.NumeroExt">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Interior" [(ngModel)]="Cliente.NumeroInt">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="CP" [(ngModel)]="Cliente.CP">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Colonia" [(ngModel)]="Cliente.Colonia">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Municipio" [(ngModel)]="Cliente.Municipio">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Estado" [(ngModel)]="Cliente.Estado">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Sector" [(ngModel)]="Cliente.Sector">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="btn_disabled" (click)="AgregarClientes()">Registrar cliente</ion-button>
      </ion-col>

      <ion-col *ngIf='Incomplete'>
        <ion-text>{{ AlertText }}</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="type === 'Aval'">
    <ion-row>
      <ion-col>
        <ion-input placeholder="Nombre(s)" [(ngModel)]="Aval.Nombre">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Apellido paterno" [(ngModel)]="Aval.ApellidoP">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Apellido materno" [(ngModel)]="Aval.ApellidoM">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select [(ngModel)]="Aval.Sexo">
            <ion-select-option value="{{ gv.Hombre }}">Masculino</ion-select-option>
            <ion-select-option value="{{ gv.Mujer }}">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Entidad de nacimiento" [(ngModel)]="Aval.Edo_Nacimiento">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="CURP" [(ngModel)]="Aval.CURP">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Telefono" [(ngModel)]="Aval.Telefono">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha Nacimiento" max="2050"
            [(ngModel)]="Aval.Cumpleanos">
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <h3>Direccion</h3>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Calle" [(ngModel)]="Aval.Calle">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Exterior" [(ngModel)]="Aval.NumeroExt">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Interior" [(ngModel)]="Aval.NumeroInt">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="CP" [(ngModel)]="Aval.CP">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Colonia" [(ngModel)]="Aval.Colonia">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Municipio" [(ngModel)]="Aval.Municipio">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Estado" [(ngModel)]="Aval.Estado">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Sector" [(ngModel)]="Aval.Sector">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="btn_disabled" (click)="AgregarAval()">Registrar aval</ion-button>
      </ion-col>

      <ion-col *ngIf='Incomplete'>
        <ion-text>{{ AlertText }}</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="type === 'Usuario'">

    <ion-row>
      <ion-col>
        <ion-input placeholder="Nombre" [(ngModel)]="Usuario.Nombre">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input placeholder="Mail" [(ngModel)]="Usuario.Mail">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Etiqueta" [(ngModel)]="Usuario.Etiqueta">
        </ion-input>
      </ion-col>
    </ion-row>

    <div>

      <ion-row>
        <ion-col>
          <ion-select placeholder="Roll" interface="action-sheet" [(ngModel)]="Usuario.Roll"
            (ngModelChange)='GetOpciones()'>
            <ion-select-option value="{{ roll.value }}" *ngFor="let roll of Roles[0] | keyvalue">{{ roll.key }}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="GetRolesActivos(gv.region)">
          <ion-select placeholder="Region" interface="action-sheet" [(ngModel)]="Usuario.Region"
            (ngModelChange)='IDSelected(gv.region)'>
            <ion-select-option [value]="Colaborador[gv.region]" *ngFor="let Colaborador of ArrSel[gv.region]">
              {{ Colaborador[gv.nombre] }}: {{ Colaborador[gv.tag] }} ({{ Colaborador[gv.region] }})
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col *ngIf="GetRolesActivos(gv.zona)">
          <ion-select placeholder="Zona" interface="action-sheet" [(ngModel)]="Usuario.Zona"
            (ngModelChange)='IDSelected(gv.zona)'>
            <ion-select-option [value]="Colaborador[gv.zona]" *ngFor="let Colaborador of ArrSel[gv.zona]">
              {{ Colaborador[gv.nombre] }}: {{ Colaborador[gv.tag] }} ({{ Colaborador[gv.zona] }})
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col *ngIf="GetRolesActivos(gv.sucursal)">
          <ion-select placeholder="Sucursal" interface="action-sheet" [(ngModel)]="Usuario.Sucursal"
            (ngModelChange)='IDSelected(gv.sucursal)'>
            <ion-select-option [value]="Colaborador[gv.sucursal]" *ngFor="let Colaborador of ArrSel[gv.sucursal]">
              {{ Colaborador[gv.nombre] }}: {{ Colaborador[gv.tag] }} ({{ Colaborador[gv.sucursal] }})
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col *ngIf="GetRolesActivos(gv.dm)">
          <ion-select placeholder="Encargado" interface="action-sheet" [(ngModel)]="Usuario.DM"
            (ngModelChange)='IDSelected(gv.dm)'>
            <ion-select-option [value]="Colaborador[gv.dm]" *ngFor="let Colaborador of ArrSel[gv.dm]">
              {{ Colaborador[gv.nombre] }}: {{ Colaborador[gv.tag] }} ({{ Colaborador[gv.dm] }})
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col *ngIf="GetRolesActivos(gv.agente)">
          <ion-select placeholder="Agente" interface="action-sheet" [(ngModel)]="Usuario.AG"
            (ngModelChange)='IDSelected(gv.agente)'>
            <ion-select-option [value]="Colaborador[gv.agente]" *ngFor="let Colaborador of ArrSel[gv.agente]">
              {{ Colaborador[gv.nombre] }}: {{ Colaborador[gv.tag] }} ({{ Colaborador[gv.agente] }})
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

    </div>

    <ion-row>
      <ion-col>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="Usuario.Contrasena">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="password" placeholder="Confirmar contraseña" [(ngModel)]="Usuario.Confirmar">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="btn_disabled" (click)="AgregarUsuario()">Agregar</ion-button>
      </ion-col>
      <ion-col *ngIf='Incomplete'>
        <ion-text>{{ AlertText }}</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="type === 'Pago'">

    <ion-item>
      <ion-label>Seleccionar</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="Selection" placeholder="Pagado" (ngModelChange)='Cambio()'>
        <ion-select-option value="Posponer">Posponer</ion-select-option>
        <ion-select-option value="Liquidar">Liquidar</ion-select-option>
        <ion-select-option value="Re estructurar">Re estructurar</ion-select-option>
        <ion-select-option value="Agregar pagos">Pagos de penalizacion</ion-select-option>
        <ion-select-option value="Eliminar credito">Eliminar credito</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="Selection === 'Posponer'">
      <ion-text>
        Ingresa la fecha a la que se pospondra el pago y la razon de posponerlo.
      </ion-text>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>FECHA</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" max="2050"
              [(ngModel)]="In.Posponer.Date"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Hora de pago</ion-label>
            <ion-datetime displayFormat="H:mm A" minuteValues="0,30" [(ngModel)]="In.Posponer.Date"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input placeholder="Razon" [(ngModel)]="In.Posponer.Razon"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="Selection === 'Liquidar'">
      <ion-text>
        ¿Seguro que quieres liquidar el credito completo?
        Faltan {{ Info_Credito[gv.pagos_faltantes] }} pagos con un total de $
        {{ Info_Credito[gv.cantidad_por_pagar] }}
      </ion-text>
      <ion-row>
        <ion-col>
          <ion-input type="number" placeholder="Cantidad a reducir" [(ngModel)]="In.Liquidar.Cantidad"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="Selection === 'Re estructurar'">
      <ion-text>
        Ingresa la nueva cantidad a pagar.
        Fecha de inicio de los pagos.
        Y el periodo de los pagos
      </ion-text>

      <ion-row>
        <ion-col>
          <ion-input type="number" placeholder="Pago" [(ngModel)]="In.Re_Estructurar.Pago"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>FECHA</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" max="2050"
              [(ngModel)]="In.Re_Estructurar.Date"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-select placeholder="Tipo" [(ngModel)]="In.Re_Estructurar.Period">
          <ion-select-option value="{{ gv.diario }}">Diario</ion-select-option>
          <ion-select-option value="{{ gv.semanal }}">Semanal</ion-select-option>
          <ion-select-option value="{{ gv.quincenal }}">Quincenal</ion-select-option>
          <ion-select-option value="{{ gv.mensual }}">Mensual</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div *ngIf="Selection === 'Agregar pagos'">
      <ion-text>
        Ingresa la cantidad de pagos que se le agregaran al credito
      </ion-text>

      <ion-row>
        <ion-col>
          <ion-input type="number" placeholder="Numero de pagos" [(ngModel)]="In.Agregar_pagos.Pagos"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="number" placeholder="Pago" [(ngModel)]="In.Agregar_pagos.Pago"></ion-input>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="btn_disabled" (click)="PayCredit()">{{ Btn_Txt }}</ion-button>
      </ion-col>
      <ion-col *ngIf="Incomplete">
        <ion-text>{{ AlertText }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="type === 'Producto'">

    <ion-row>
      <ion-item>
        <ion-label>Credito</ion-label>
        <ion-input type="number" placeholder="Nombre" [(ngModel)]="Producto.Credito"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Cuota</ion-label>
          <ion-input type="number" placeholder="$" [(ngModel)]="Producto.Pago"
            (ngModelChange)='CambioInfoProducto()'></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>Numero de cuotas</ion-label>
          <ion-input type="number" placeholder="#" [(ngModel)]="Producto.Total_Pagos"
            (ngModelChange)='CambioInfoProducto()'></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item style="max-width: 100%; width: 100%">
          <ion-label>Periodo</ion-label>
          <ion-select [(ngModel)]="Producto.Periodo">
            <ion-select-option value="{{ gv.diario }}">Diario</ion-select-option>
            <ion-select-option value="{{ gv.semanal }}">Semanal</ion-select-option>
            <ion-select-option value="{{ gv.quincenal }}">Quincenal</ion-select-option>
            <ion-select-option value="{{ gv.mensual }}">Mensual</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
        <ion-label>Entrega de efectivo</ion-label>
        <ion-input type="number" placeholder="$" [(ngModel)]="Producto.Efectivo"
        (ngModelChange)='CambioInfoProducto()'></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Total a pagar</ion-label>
        <ion-textarea disabled readonly placeholder="Total a pagar" [(ngModel)]="Producto.Total_Credito">
        </ion-textarea>
      </ion-col>
      <ion-col>
        <ion-label>Cargo por servicio</ion-label>
        <ion-textarea disabled readonly placeholder="Cargo" [(ngModel)]="Producto.Cargo">
        </ion-textarea>
      </ion-col>
      <ion-col>
        <ion-label>Utilidad por cuota</ion-label>
        <ion-textarea disabled readonly placeholder="Utilidad/cuota" [(ngModel)]="Producto.UtilidadCuota">
        </ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="AgregarProducto()">Agregar producto</ion-button>
      </ion-col>
      <ion-col *ngIf="Incomplete">
        <ion-text>{{ AlertText }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>