<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clients
    </ion-title>

    <ion-title style="float: right;">
      {{ gv.usuario[gv.nombre] }}
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-button (click)="presentClienteModal()">Nuevo cliente</ion-button>
    </ion-col>
    <ion-col>
      <ion-select placeholder="Agente" interface="action-sheet" [(ngModel)]="Agente" (ngModelChange)='BuscarCliente()'>
        <ion-select-option [(value)]="agente[gv.ID_Ubicacion]" *ngFor="let agente of Agentes">
          {{ agente[gv.nombre] }}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-input placeholder="ID Cliente" [(ngModel)]="IDCliente" (ngModelChange)='BuscarCliente()'></ion-input>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let client of Cliente">
    <div class="item">

      <ion-row style="justify-content: center; background-color: #efefef;">
        <ion-col>
          Cliente: {{ client[gv.identificador] }}
        </ion-col>
      </ion-row>

      <ion-row style="justify-content: center; background-color: #efefef;">
        <ion-col>
          {{ this.gf.QuitarBarraAInfo(client[gv.nombre]) }}
        </ion-col>
      </ion-row>

      <ion-row style="justify-content: center; background-color: #efefef;">
        <ion-col>
          {{ this.gf.QuitarBarraAInfo(client[gv.direccion]) }}
        </ion-col>
      </ion-row>

      <ion-row style="justify-content: center; background-color: #efefef;">
        <ion-col>
          {{ client[gv.telefono] }}
        </ion-col>
      </ion-row>

      <h4>Creditos</h4>

      <ion-row *ngFor="let info of ArrInfo | keyvalue">
        <ion-radio mode="md" *ngIf="Selected === info.key" checked></ion-radio>
        <ion-radio mode="md" *ngIf="Selected !== info.key" (ionSelect)="Selected = info.key"
          (ionSelect)="CambioPagosSeleccionados(info.key)"></ion-radio>

        <ion-row>
          <ion-col>
            Pagado: ${{ info.value[gv.cantidad_pagado] }}
          </ion-col>
          <ion-col>
            Saldo: ${{ info.value[gv.cantidad_por_pagar] }}
          </ion-col>
          <ion-col>
            Pendientes: {{ info.value[gv.pagos_faltantes] }}/{{ this.ArrCreditos[info.key + gv.info][0].length }}
          </ion-col>
          <ion-col>
            Realizados: {{ info.value[gv.status_pagado] }}/{{ this.ArrCreditos[info.key + gv.info][0].length }}
          </ion-col>
          <ion-col>
            Vencidos: {{ info.value[gv.status_vencido] }}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="ArrCreditos[this.Selected + gv.info] !== undefined && ArrCreditos[this.Selected + gv.info][1].length !== 0">
          <ion-col>
            <h4>Siguiente pago</h4>
          </ion-col>
          <ion-col>
            Numero de pago: {{ ArrCreditos[this.Selected + gv.info][1][0][gv.num_pago] }}
          </ion-col>
          <ion-col>
            Cantidad: {{ ArrCreditos[this.Selected + gv.info][1][0][gv.pago] }}
          </ion-col>
          <ion-col>
            Fecha: {{ this.gf.GetYYMMDDDateFromRef(ArrCreditos[this.Selected + gv.info][1][0][gv.fecha]) }}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="Selected === info.key">
          <ion-col size="1" style="margin-right: 30px;">
            <ion-item>
              <ion-textarea [(ngModel)]="Pago" placeholder="Pago" (ngModelChange)='CambioPagoMulta(Pago, Multa)'>
              </ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="1" style="margin-left: 30px; margin-right: 30px;">
            <ion-item>
              <ion-textarea [(ngModel)]="Multa" placeholder="Multa" (ngModelChange)='CambioPagoMulta(Pago, Multa)'>
              </ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="1" style="margin-left: 30px;">
            <ion-item>
              <ion-textarea disabled readonly [(ngModel)]="Pago_Total" placeholder="Total">
              </ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="1" style="margin-left: 30px;">
            <ion-button [disabled]="Btn_Desactivado" (click)="Pay()">Pagar</ion-button>
          </ion-col>

          <ion-col size="1" style="margin-right: 30px;">
            <ion-item>
              <ion-textarea [(ngModel)]="Anio" type="number" placeholder="Año"
                (ngModelChange)='CambioPagoMulta(Pago, Multa)'>
              </ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="1" style="margin-right: 30px;">
            <ion-item>
              <ion-textarea [(ngModel)]="Mes" type="number" placeholder="Mes"
                (ngModelChange)='CambioPagoMulta(Pago, Multa)'>
              </ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="1" style="margin-right: 30px;">
            <ion-item>
              <ion-textarea [(ngModel)]="Dia" type="number" placeholder="Dia"
                (ngModelChange)='CambioPagoMulta(Pago, Multa)'>
              </ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="1" style="margin-left: 30px;">
            <ion-button (click)="OpcionesDeCreditoModal()">Opciones de credito</ion-button>
          </ion-col>
          <ion-col *ngIf='Incomplete'>
            <ion-text>{{ AlertText }}</ion-text>
          </ion-col>

        </ion-row>

        <ion-col *ngIf="Selected === info.key">
          <h5 (click)="VerPagos = !VerPagos">Ver pagos</h5>
        </ion-col>
      </ion-row>

      <div *ngIf="VerPagos">
        <ion-row>
          <ion-col style=" font-weight: bold;">
            Pago
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Progamado
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Pagado
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Multa
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Pago total
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Saldo
          </ion-col>
          <ion-col style=" font-weight: bold;">
            # Pago
          </ion-col>
          <ion-col style=" font-weight: bold;">
            Cobrado por
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let pago of PagosSeleccionados">
          <ion-col *ngIf="pago[gv.multa] !== undefined">
            ${{ pago[gv.pago] - pago[gv.multa] }}.00
          </ion-col>
          <ion-col *ngIf="pago[gv.multa] === undefined">
            ${{ pago[gv.pago] }}.00
          </ion-col>
          <ion-col>
            {{ this.gf.GetYYMMDDDateFromRef(pago[gv.fecha]) }}
          </ion-col>
          <ion-col *ngIf="pago[gv.dia_cobro] !== undefined">
            {{ this.gf.GetYYMMDDDateFromRef(pago[gv.dia_cobro]) }}
          </ion-col>
          <ion-col *ngIf="pago[gv.dia_cobro] === undefined">
            Pendiente
          </ion-col>
          <ion-col *ngIf="pago[gv.multa] !== undefined">
            ${{ pago[gv.multa] }}.00
          </ion-col>
          <ion-col *ngIf="pago[gv.multa] === undefined">
            $ 00.00
          </ion-col>
          <ion-col>
            ${{ pago[gv.pago] }}.00
          </ion-col>
          <ion-col>
            ${{ GetSaldo(pago[gv.key]) }}.00
          </ion-col>
          <ion-col>
            {{ pago[gv.num_pago] }}
          </ion-col>
          <ion-col>
            {{ pago[gv.cobrado_por] }}
          </ion-col>
          <ion-col *ngIf="pago[gv.status] === gv.status_pagado">
            <ion-icon color="medium" name="close-circle-outline" (click)="RegresarPago(pago)">
            </ion-icon>
          </ion-col>
          <ion-col *ngIf="pago[gv.status] !== gv.status_pagado">
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="Pagos_Inicial.length === 0">
        <ion-button (click)="NuevoCredito()">Ingresar credito</ion-button>
      </ion-row>

    </div>

    <ion-col size="2" style="margin-left: 800px; position: absolute;">
      <ion-icon color="medium" name="close-circle-outline" (click)="OpcionesDeCredito()">
      </ion-icon>
    </ion-col>

  </ion-row>

  <div *ngIf="Cliente[0] === undefined">
    <ion-row *ngFor="let cliente of ListaClientes" (click)="IDCliente = cliente[gv.identificador]"
      (click)="BuscarCliente()">
      <ion-col>
        Cliente: {{ cliente[gv.identificador] }}
      </ion-col>

      <ion-col>
        Nombre: {{ this.gf.QuitarBarraAInfo(cliente[gv.nombre]) }}
      </ion-col>
    </ion-row>
  </div>

</ion-content>