<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clients
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-button (click)="UsuarioModal()">Nuevo usuario</ion-button>
  </ion-col>

  <ion-row *ngFor="let user of gv.colaboradores">
      <ion-col (click)="ModificarUsuarioModal(user)">
        {{ user[gv.nombre] }}
      </ion-col>
      <ion-col>
        {{ user[gv.roll] }}
      </ion-col>
      
      <ion-col>
        <ion-icon color="medium" name="close-circle-outline"
          (click)="this.gf.EliminateCollaboratorAlert(user, user['key'])">
        </ion-icon>
      </ion-col>
    </ion-row>

</ion-content>