<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-input placeholder="Mail" [(ngModel)]="login.email">
    </ion-input>
  </ion-col>

  <ion-col>
    <ion-input placeholder="Contraseña" [(ngModel)]="login.password">
    </ion-input>
  </ion-col>

  <ion-button (click)="Login()">Atras
  </ion-button>


</ion-content>
